
  .btn{
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }

  .btn:hover {
    opacity:1;
  }
   
  .form-block{
    border: 3px solid;
    border-radius: 5px;
    padding-left: 100px;
    padding-bottom: 25px;   
  }

  .form-block-wrong{
    border: 3px solid;
    border-radius: 5px;
    padding-left: 100px;
    padding-bottom: 25px; 
    border-color: rgb(255, 68, 0)  
  }

  .input-box{
    text-align: center;
    margin: 2rem;
  }


  .messages{
    display: flex;
    justify-content: center;
  }
   
  .error{
    display: block;
    background-color: red;
    color: white;
    width: fit-content;
    height: 50px;
    padding: 5px;
  }
   
  .success{
    display: block;
    background-color: lightblue;
    color: black;
    width: fit-content;
    height: 50px;
    padding: 5px;
  }